@{
}

@model BooksViewModel


<h1 class="m-2">Available Books</h1>

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

@*<div page-model="@Model.PageInfo" page-action="Index"></div>*@