@page
@model Bookstore_Project.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks! We appreciate your business!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>